.header-separator {
  margin-top: 5rem;
}

.message {
  position: relative;
}

.message .button.msg-close {
  position: absolute;
  top: 1rem;
  right: 0;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}